.outer{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   position: absolute;
   left: 22%;
   width: 45%;
   top: 20rem;
   overflow: scroll;
   height: 20rem;
   background-color: red;
}